.card {
  background: #fff;
  height: 90px;
  width: 90px;
  margin: 1rem;
  position: relative;
  text-align: left;
  border-radius: 25px;
}

.card > .img-container {
  height: 100%;
  text-align: center;
  background:orange;
  border-radius: 25px;
}

img {
  padding-top: 15px;
  border-radius: 25px;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.1);
}